.toy-details {
  padding-block-start: 20px;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .detailes-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 435px;

    .txt-container {
      margin-inline-end: 20px;

      h2 {
        text-transform: capitalize;
        font-family: Shippori;
      }

      p {
        max-width: 47ch;
      }
    }

    img {
      width: 470px;
    }
  }

  button {
    padding: 10px;
    border-radius: 8px;
    border: transparent;
    background-color: white;
    transition: 2s;

    &:hover {
      background-color: transparent;
      border: 1px solid white;
    }
  }
  .chat-btn {
    position: fixed;
    bottom: 40px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    color: #4f4f4f;
  }
}
